.navbar {
  background: #88ccff;
  width: 100%;
  padding: 20px 40px;
  position: fixed;
  top: 0;
}

.nav-links {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-links > a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  border: 0.5px solid black;
  background: #fff;
  padding: 10px;
}
